body {
    background-color: #FFFFFF; /* Branco */
    color: #333333; /* Cinza escuro para o texto */
}

.navbar {
    background-color: #FFCC00 !important; /* Amarelo vibrante */
}

.navbar-brand, .nav-link {
    color: #FFFFFF !important; /* Branco */
}

.btn-primary {
    background-color: #FFCC00; /* Amarelo vibrante */
    border-color: #FFCC00; /* Amarelo vibrante */
}

.btn-primary:hover {
    background-color: #FFD700; /* Amarelo dourado */
    border-color: #FFD700; /* Amarelo dourado */
}

.pet-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.pet-image:hover {
    transform: scale(1.05);
}

.modal-img {
    width: 100%;
}

footer {
    background-color: #FFCC00; /* Amarelo vibrante */
    color: #FFFFFF; /* Branco */
}
